# Section 1: Variable and Operations

In Python and any other programming languages, we need to store data in the computer's memory. 
We can do this by assigning a variable to the data. 

In this section, we will learn how to store data in the computer's memory by using variables. 

We will also learn about the different types of data we can store in variables. 

Finally, we will learn about the different operations we can perform on variables.

## 1.1 Constants and Variables

Today, we will learn about two types of data: constants and variables.

* Constants are fixed values that do not change during a program.
* Variables are values that can change during a program.

In [4]:
# Example of a constant
3

# Another example of a constant
3.14

# Another example of a constant
"Hello World"

print(3, 3.14, "Hello World")

3 3.14 Hello World

**Note**: the `print()` function is used to display what is inside the parentheses (brackets).

* In a Jupiter Notebook, the last line of a cell is automatically printed.

In [5]:
3, 3.14, "Hello World"

(3, 3.14, 'Hello World')

In [7]:
# Example of a variable
x = 3

x = 3.14

x = "Hello World"

print(x)

Hello World

**Note**: the value of `x` changes from `3` to `3.14`, and then to `"Hello World"`.

## 1.2 Variable Names

In Python, we can name variables using letters, numbers, and underscores.

* We cannot start a variable name with a number.
* We cannot use spaces in a variable name.
* We cannot use special characters in a variable name, except for the underscore.
* We cannot use Python keywords as variable names.

In [6]:
# Example of a good variable name
my_variable = 3

In [9]:
# Example of a bad variable name
1st_variable = 3

SyntaxError: invalid decimal literal (1937578369.py, line 2)

In [7]:
# Example of another bad variable name
my - variable = 3

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4276082334.py, line 2)

In [40]:
# Example of another bad variable name
True = 3

SyntaxError: cannot assign to True (23732059.py, line 2)

**Note**: Python prints error messages if we try to use invalid variable names.

## 1.3 Variable Types

In Python, we can store different types of data in variables.

* Integer: a whole number, positive or negative, without decimals.
* Float: a number, positive or negative, containing one or more decimals.
* String: a sequence of characters, enclosed in single or double quotes.
* Boolean: a value that is either `True` or `False`.

In [11]:
# Example of an integer
x = 3

# Example of a float
y = 3.14

# Example of a string
z = "Hello World"

# Example of a boolean (True or False)
a = True

## 1.4 Variable Operations

In Python, we can perform different operations on variables.

* Addition: `+`
* Subtraction: `-`
* Multiplication: `*`
* Division: `/`
* Exponentiation: `**`
* Modulo: `%`
* Floor Division: `//`

The order of operations in Python is the same as in mathematics.

* Parentheses: `()`

We can also perform operations on strings.

* Concatenation: `+`
* Repetition: `*`

In [14]:
# Operations on integers and floats

# Addition
print(3 + 3.33)

x = 3
y = 3.33

print(x + y)

6.33
6.33

In [17]:
# Subtraction
print(3 - 2.125)

x = 3
y = 2.125

print(x - y)

0.875
0.875

In [20]:
# Order of operations
print(3 + 2 * 3)

print((3 + 2) * 3)

# With exponents
print(3 * 2**2)

print((3 * 2)**2)

9
15
12
36

In [10]:
# Operations on strings

# Concatenation
print("Hello " + "World")

# Repetition
print("Hello" * 3)

Hello World
HelloHelloHello

## 1.5 Logical Operators

In Python, we can also perform logical operations on variables.

* Equal to: `==`
* Not equal to: `!=`
* Greater than: `>`
* Less than: `<`
* Greater than or equal to: `>=`
* Less than or equal to: `<=`

The result of a logical operation is a Boolean value.

In [12]:
# Logical operators

# Equality
print(3 == 3)

print(3 == 4)

print(100==5)

True
False
False

In [25]:
# Inequality
print(3 != 3)

print(3 != 4)

False
True

In [13]:
# Greater than
print(3 > 3)

print(3 > 4)

print(100 > 5)

False
False
True

## Combining Logical Operators

In Python, we can combine logical operations using the following keywords.

* `and`
* `or`
* `not`

In [27]:
# Combining logical operators

# And
print((3 > 2) and (3 < 4))

print((3 > 2) and (3 > 4))

True
False

In [22]:
# Or

print((3 > 2) or (3 > 4))

print((3 < 2) or (3 > 4))

True
False

In [29]:
# Not

print(not (3 > 2))

print(not (3 < 2))

False
True

## 1.6 Input and Output

In Python, we can get user input using the `input()` function.

The `input()` function always returns a string, so we need to convert it to the appropriate type if we want to perform operations on it.

In [23]:
# Example of getting user input
user_input = input("Enter a number: ")

print(user_input)

You can also do arithmetic operations on the user's input.

In [ ]:
# Example of doing arithmetic operations on user input
user_input = input("Enter a number: ")

print(int(user_input) + 1)           # Convert the user's input to an integer and add 1

## 1.7 try except

In Python, we can use the `try` and `except` keywords to handle errors before they occur, and give the user a chance to correct their input.

In [ ]:
# Example of using try except
try:
    user_input = int(input("Enter a number: "))
    print(user_input + 1)
except:
    print("Please enter a valid number.")

## 1.8 Simple For loop

In Python, we can use the `for` loop to iterate over a sequence of values.

In [ ]:
# Example of a simple for loop
for i in range(5):
    print(i)                         # Print the current value of i

Here, `range(5)` generates a sequence of numbers from 0 to 4.

We can also use the `for` loop to iterate over a sequence of values in a list.

In [ ]:
list_of_numbers = [1, 2, 3, 4, 5]

for number in list_of_numbers:
    print(number)

## 1.9 Lists and Tuples

In Python, we can store a sequence of values in a list or a tuple.

* Lists are mutable, meaning we can change their values.
* Tuples are immutable, meaning we cannot change their values.

In [ ]:
# Example of a list
my_list = [1, 2, 3, 4, 5]

# Example of a tuple
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
print(my_list)

In [ ]:
print(my_tuple)

Changing the values in a list doesn't give us an error, but it changes the list.

In [ ]:
my_list[0] = 10

print(my_list)

Changing the values in a tuple gives us an error.

In [ ]:
my_tuple[0] = 10